:root {
    --main-color: #3e2723;
    --main-padding: 80px;
    --main-border-radius:20px;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.cont {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .cont {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .cont {
        width: 950px;
    }
}

@media (min-width: 1200px) {
    .cont {
        width: 1170px;
    }
}

header{

    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: #eee;
    
  
 
    
}

header .cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
header a{
  text-decoration: none;
  color: #777;
}

header .esraa {
    display: none;
}

@media(max-width: 767px) {
    header{
        position: relative;
    }
    header .cont .hid {
        display: none;
    }

    header .cont .esraa {
        display: block;
    }

    header .cont .esraa:hover + .hid {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: aliceblue;
        background-color: rgba(210, 210, 210, 0.6);
    }
}

header .cont ul {
    display: flex;
}

header .cont ul li {
    color: #777;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 10px;
}


header .cont ul li:hover {
    color: black;
    transform: scale(1.1);
}

header .cont .logo {
    align-items: center;
    text-align: center;
}

header .cont .logo i {
    color: #795548;
}

header .cont .logo span {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 27px;
}

header .cont .icons {
    display: flex;
    align-items: center;
    
}

header .cont .icons i {
    margin-right: 20px;
    transition: transform 0.2s;
}

header .cont .icons {
    margin-right: 30px;
}
header .cont .icons i:hover{
    transform: scale(1.1);
    cursor: pointer; 
}
header .cont .total {
  position: relative;
  }
  header .cont .total span {
      display:flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color:transparent;
      border: 1px solid black;
  
      position: absolute;
      top: -15px;
      left: 15px;
      font-size: 13px;
      color: black;
      
  }
.main{
  /* position: relative; */
    background-color: #eee;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    /* height: 100vh; */
}
.main  h2{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 20px 0;
}

.main  .cont{
    border-radius: 20px;
    padding-right: 0;
    /* text-align: center; */
    background-color:white;
    display: flex;
    justify-content: space-between;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.main  .cont .aside{
        padding-top: 80px;
        padding-bottom: 80px;
      

    padding-left: 200px;
    background-color: white;
}
@media(max-width:767px){
    .main .cont .aside{
        padding-bottom: 10px;
    padding-left: 0;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    
}
}
.main  .info .inf{
    width: fit-content;
    display: flex;
    gap: 30px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid black;
}
.cart-items{
    padding:10px 0;
}
.cart-items li {
    width: fit-content;
    display: flex;
   
    align-items: center;
  gap: 50px;
  border-bottom: 1px solid #eee;
 
    padding: 10px 0;
  }
  .cart-items img {
    width: 60px;
    height: 70px;
    margin-right: 10px;
  }
 
 
  .main  .cont .asid2{
    background-color: #4f3a35;
    width: 30%;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
    padding-left: 30px;
    
}
@media(max-width:767px){
    .main  .cont .asid2{
        padding-top: 0px;
        align-items: center;
        text-align: center;
        width: 100%;
        color: black;
        background-color: white;

    }
}

  .main .asid2 p:first-of-type{
    width: fit-content;
    align-items: start;
    text-transform: capitalize;
    padding-bottom: 15px;
    padding-top: 10px;
    border-bottom: 1px solid #eee;
   
  }
 .main .asid2 p:not(:first-of-type){
    padding-bottom: 15px ;
    padding-top: 15px;
 }
  button{
   margin: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-decoration: none;
}
button {
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

  @media(max-width:767px){
    .main .cont{
        padding-right: 15px;
        align-items: center;
        flex-direction: column;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}
.btn-conteiner {
    display: flex;

    --color-text: #ffffff;
    --color-background: black;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
  }
  @media(max-width:767px){
    .btn-conteiner{
        margin-left: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
  
  .btn-content {
    margin-left: -10px;
    display: flex;
    align-items: center;
    padding: 3px 36px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 20px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
@media(max-width:767px){
    .btn-content{
        margin-left: 0;
        align-items: center;
        text-align: center;
        font-size: 16px;
    }
  }
  
  .btn-content {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
   
  .btn-content .icon-arrow {
     transition: 0.5s;
     margin-right: 0px;
     transform: scale(0.6); 
   }  
  
  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 20px;
  }
  
  .icon-arrow {
    width: 12px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
  @media(max-width:767px){
    .icon-arrow{
     width: 10px;
    }
  }
    
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-content #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
   .over{
    background-color: #000000a8;
    z-index: 1000;
    position: absolute;
    
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

  .over p{
    padding: 30px 15px;
    border: 1px solid #eee;
    font-size: 23px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%) ;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
}
  .over p i{
  padding-right: 10px;
  color: green;
}
 .over p span{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:-15px;
  right:-5px;
  width: 30px;
  height: 30px;
  border: 1px solid#eee;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}  